:root {
  --GREEN: #D1E5CA;
  --LBROWN: #E0CFBD;
  --DBROWN: #6B6764;
}

@font-face {
  font-family: champagne;
  src: url(fonts/Champagne.ttf);
}
@font-face {
  font-family: champagne;
  src: url(fonts/ChampagneBold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: champagne;
  src: url(fonts/ChampagneItalic.ttf);
  font-style: italic;
}
@font-face {
  font-family: champagne;
  src: url(fonts/ChampagneBoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: C_BOX;
  src: url(fonts/C_BOX.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: champagne;
  font-weight: bold;
  overflow-x: hidden;
  overflow-y: hidden;
}

/*//////////////////////////////////////////////////////////////////*/

#navBar {
  position: fixed;
  background-color: var(--DBROWN);
  width: 100%;
  z-index: 3;
  font-size: 1.2em;
}

#navBar img {
  width: auto;
  max-height: 70px;
  margin: 10px;
}

#navBar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

#navBar li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

#navBar li a:hover,
#navBar .menu-btn:hover {
  color: var(--LBROWN);
}

#navBar .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

#navBar .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu btn */

#navBar .menu-btn {
  display: none;
}

#navBar .menu-btn:checked ~ .menu {
  max-height: 240px;
}

#navBar .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

#navBar .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

#navBar .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

#navBar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
#navBar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 1044px) {
  #navBar .menu li {
    float: left;
  }
  #navBar .menu li a {
    font-size: 1.2em;
    padding: 20px 30px;
    text-decoration: none;
    color: var(--LBROWN);
    transition: 0.3s;
  }

  #navBar .menu li a:hover {
    color: #fff;
  }

  #navBar .menu {
    clear: none;
    float: right;
    max-height: none;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  #navBar .menu-icon {
    display: none;
  }
}

.none {
  display: none;
}

.preloader{
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

.prelContent {
  width: 80vw;
  height: 80vh;
  z-index: 1000002;
  position: absolute;
  text-align: center;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--DBROWN);
}

        #closePrel {
          padding: 10px;
          background-color: transparent;
          text-align: center;
          font-size: 1.5em;
          color: var(--LBROWN);
          border: none;
          transition: 0.5s ease-in-out;
          position: absolute;
          bottom: 15%;
          transform: translateX(-50%);
        }

        #closePrel:hover {
          background-color: var(--LBROWN);
          color: var(--DBROWN);
        }

        #logo{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          animation:  fill 0.5s ease forwards 2.3s;
        }

        #logo path:nth-child(1){
          stroke-dasharray: 749;
          stroke-dashoffset: 749;
          animation: line-anim 2s ease forwards;
        }

        #logo path:nth-child(2){
          stroke-dasharray: 455;
          stroke-dashoffset: 455;
          animation: line-anim 2s ease forwards 0.2s;
        }

        #logo path:nth-child(3){
          stroke-dasharray: 280;
          stroke-dashoffset: 280;
          animation: line-anim 2s ease forwards 0.4;
        }

        #logo path:nth-child(4){
          stroke-dasharray: 500;
          stroke-dashoffset: 500;
          animation: line-anim 2s ease forwards 0.6;
        }

        #logo path:nth-child(5){
          stroke-dasharray: 200;
          stroke-dashoffset: 200;
          animation: line-anim 2s ease forwards 0.8;
        }

        #logo path:nth-child(6){
          stroke-dasharray: 466;
          stroke-dashoffset: 466;
          animation: line-anim 2s ease forwards 0.6s;
        }

        @keyframes line-anim {
          to {
            stroke-dashoffset: 0;
          }
        }

        @keyframes fill {
          from {
            fill: transparent;
          }
          to {
            fill: white;
          }
        }

        .preloader p {
          color: #fff;
          text-align: center;
          position: absolute;
          bottom: 12%;
          left: 50%;
          font-size: 1.5em;
          transform: translateX(-50%);
          transition: 0.5s;
          padding-bottom: 10px;
          border-bottom: 0px solid #fff;
          cursor: pointer;
        }

        .preloader p:hover {
          font-size: 2em;
          border-bottom: 2px solid #fff;
        }

.caption {
  display: none;
}

header {
  background-image: url(img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  color : var(--LBROWN);
  //margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
}

    .header_titles {
      width: 40%;
      padding: 10%;
    }

    header h1 {
      font-family: C_BOX;
      font-size: 12em;
    }

    header h2 {
      margin-top: -8%;
      font-size: 1.6em;
    }

    #header_right_container {
      position: relative;
      width: 40%;
    }

    #header_right{
      position: absolute;
      top: 65%; right: 20%;
      width: 30%;
      text-align: center;
    }

    #header_right a {
      text-decoration: none;
    }

    #header_right img {
      border-radius: 50%;
      transform: scale(1);
      transform: translateY(0);
      transition: 0.6s;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }

    #header_right img:hover {
      transform: scale(1.1);
      transform: translateY(-10px);
      box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
    }

    #header_right h5 {
      text-align: center;
      color: var(--DBROWN);
      font-size: 1.5em;
    }

.choco_grid {
  padding-top: 100px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: auto;
}

    .single-img {
      padding: 0 20px 20px;
      width: 20%;
      margin-bottom: 100px;
      position: relative;
    }

    .single-img img {
      z-index: -1;
      width: 100%;
      transition: 0.5s;
      opacity: 0.8;
    }

    .single-img img:hover {
      opacity: 1;
      box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
      z-index: -1;
    }

    .solde {
      background-color: #b2cc29;
      color: white;
      font-weight: bold;
      padding: 8px 10px;
      margin-left: -5px;
      float: left;
      font-style: inherit;
      border: 2px solid #fff;
      position: absolute; top: 10px; left: 0;
      z-index: 1;
    }

    .show {
      z-index : 10000;
      display: none;
    }

    .show .overlay {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      position: absolute; top: 0; left: 0;
    }

    .show .img-show {
      width: 50%;
      height: 60%;
      background: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .show span {
      position: absolute; top: 10px; right : 10px;
      padding: 2px;
      text-align: center;
      cursor: pointer;
      color: #000;
      width: 20px; height: 20px;
      border-radius: 50%;
      border: 1px solid #000;
      background-color: #fff;
      transition: 0.5s;
    }

    .show span:hover {
      background-color: #000;
      color: #fff;
      border-color: #fff;
      transition: 0.5s;
    }

    .show img {
      width: 100%;
      height: 100%;
    }

#transition {
  width: 100%;
  background-image: url(img/transition.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--GREEN);
  height : 50vh;
  margin-bottom: 100px;
}



.choc_table{
  padding-top: 100px;
  display: table;
  table-layout: fixed;
  width: 100%;
}
    .choc_table-item{
      display: table-cell;
      width: 50%;
      position: relative;
    }

    .choc_table-img{
      vertical-align: bottom;
      background-size: cover;
      background-position: center;
    }

    .choc_table-img span{
      background-color: rgba(0,0,0,0.7);
      color: white;
      text-align: center;
      padding: 30px;
      display: block;
    }

    .choc_table-txt{
      padding: 150px;
      width: 34.5%;
    }
    .choc_table-txt .title-like{
      font-size: 60px;
      font-family: C_BOX;
      color : var(--DBROWN);
    }

    .choc_table-inverse{
      direction: rtl;
    }
    .choc_table-item{
      direction: ltr;
    }


    .tablette{
      position: absolute;
      top: 15%;
      left: 10%;
      width: 20%;
      transform: translate(-50%, -50%);
   }

    .tablettechoco rect:nth-child(1){
      stroke-dasharray: 97;
      stroke-dashoffset: 97;
      animation: line-anim-tab 3s ease infinite;
    }

    .tablettechoco rect:nth-child(2){
      stroke-dasharray: 97;
      stroke-dashoffset: 97;
      animation: line-anim-tab 3s ease infinite;
    }

    .tablettechoco rect:nth-child(3){
      stroke-dasharray: 97;
      stroke-dashoffset: 97;
      animation: line-anim-tab 3s ease infinite;
    }

    .tablettechoco rect:nth-child(4){
      stroke-dasharray: 97;
      stroke-dashoffset: 97;
      animation: line-anim-tab 3s ease infinite;
    }

    .tablettechoco rect:nth-child(5){
      stroke-dasharray: 97;
      stroke-dashoffset: 97;
      animation: line-anim-tab 3s ease infinite;
    }

    .tablettechoco rect:nth-child(6){
      stroke-dasharray: 97;
      stroke-dashoffset: 97;
      animation: line-anim-tab 3s ease infinite;
    }

    .tablettechoco rect:nth-child(7){
      stroke-dasharray: 97;
      stroke-dashoffset: 97;
      animation: line-anim-tab 3s ease infinite;
    }

    .tablettechoco rect:nth-child(8){
      stroke-dasharray: 96;
      stroke-dashoffset: 96;
      animation: line-anim-tab 3s ease infinite;
    }

    .tablettefeuille path:nth-child(1){
      stroke-dasharray: 212;
      stroke-dashoffset: 212;
      animation: line-anim-tab 3s ease infinite;
    }

    .tablettefeuille path:nth-child(2){
      stroke-dasharray: 210;
      stroke-dashoffset: 210;
      animation: line-anim-tab 3s ease infinite;
    }

    .tablettefeuille path:nth-child(3){
      stroke-dasharray: 172;
      stroke-dashoffset: 172;
      animation: line-anim-tab 3s ease infinite;
    }

    .tablettefeuille path:nth-child(4){
      stroke-dasharray: 166;
      stroke-dashoffset: 166;
      animation: line-anim-tab 3s ease infinite;
    }

    @keyframes line-anim-tab {
      0% {
        stroke-dashoffset: 0;
      }

      50% {
        stroke-dashoffset: 100%;
      }

      100% {
        stroke-dashoffset: 0;
      }
    }

    @keyframes fill-tab {
      0% {
        fill: transparent;
      }
      40% {
        fill: white;
      }
      60% {
        fill: white;
      }
      100% {
        fill: transparent
      }
    }


#contact {
  width: 100%;
  padding-top: 100px;
  background-color: var(--DBROWN);
  text-align: center;
}

    #contact h2 {
      font-family: C_BOX;
      font-size: 4em;
      color: var(--LBROWN);
      margin-bottom: 100px;
    }

    #contact form {
      text-align: center;
      margin: auto;
      width: 50%;
    }

    form input, textarea {
      width: 100%;
      border: 2px solid var(--LBROWN);
      border-radius: 20px;
      padding: 10px;
      margin-bottom: 30px;
      color: var(--DBROWN);
    }


    #go {
      background-color: var(--LBROWN);
      color: #fff;
      width: 20%;
      margin-bottom: 10vh;
    }


footer {
  height: 30px;
  align-self: center;
  color: var(--LBROWN);
  text-align: center;
  font-style: italic;
  font-size: 1.2em;
  padding: 30px;
}




/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


@media screen and (max-width: 1044px){

    #navBar > *{
        display: block;
        position: fixed; top: 0px; left: 0px;
        background: none;
        border: none;
    }
         
          #navBar {
            background-color: transparent;
            border-bottom: none;
            text-align: center;
          }

          #navBar:target .main-header_menu{
              /* border-top: 1px solid #ccc; */
              display: block;
              background-color: var(--DBROWN);
              max-height: 300px;
              z-index: 10;
          }

          #navBar .menu li {
            margin: auto;
            background-color: #fff;
          }
          #navBar .menu a {
            color : var(--DBROWN);
            text-align: center;
          }

          #navBar img{
            display: none;
          }

          .main-header_logo {
            display: none;
          }

          .menu-icon {
            position: fixed; top: 20px; right: 20px;
          }

          #navBar .menu-icon {
            background-color: #fff;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
            cursor: pointer;
            display: inline-block;
            float: right;
            padding: 18px 10px;
            position: relative;
            user-select: none;
            margin: 20px;
          }

          #navBar .menu-icon .navicon {
            background: #333;
            display: block;
            height: 2px;
            position: relative;
            transition: background .2s ease-out;
            width: 18px;
          }

          #navBar .menu-icon .navicon:before,
          #navBar .menu-icon .navicon:after {
            background: #333;
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            transition: all .2s ease-out;
            width: 100%;
          }

          #navBar .menu-icon .navicon:before {
            top: 5px;
          }

          #navBar .menu-icon .navicon:after {
            top: -5px;
          }






    header {
      text-align: center;
      display: inline-block;
    }

    .header_titles {
      width: 100%;
      padding: 0;
    }

    header h1 {
      margin-top: 100px;
      font-size: 6em;
    }

    header h2 {
      width: 75%;
      transform: translateX(16%);
    }

    #header_right {
      text-align: center;
      width: 100%;
      transform: translateX(95%);
      margin-top: 10%;
    }

    #header_right h5 {
      margin-top: -1%;
      color: var(--GREEN);
    }

    #gallery {
      width: 100%;
    }

    .single-img {
      padding: 0 10px;
      width: 38%;
      margin-bottom: 50px;
    }

    #transition {
      margin-bottom: 0px;
    }

    .choc_table {
      display: block;
      margin-bottom: 0px;
    }

    .choc_table-item{
      display: block; /* (avant table-cell) */
      width: 100%;
    }

    .choc_table-txt{
      padding: 20px 10%;
      width: 80%;
    }

    .choc_table-img{
      padding-top: 350px;
    }


  #contact {
    margin-top: 50px;
    padding-top: 20px;
    height: auto;
  }

  #contact h2 {
    margin-bottom: 20px;
    font-size: 30px;
  }

  #contact form {
    width: 75%;
  }

  #contact textarea {
    height: 7em;
  }

  .modal-content {
    width: 100%;
  }

  .tablette {
    display: none;
  }

  #logo {
    width: 100%;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 10%;
    height: 10%;
    z-index: 1000;
  }

}
